<footer class="text-center text-white" style="background-color: rgb(161, 198, 161);">
    <div class="container ">
        <section class="">
            <a class="btn btn-link btn-floating  text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

            <a class="btn btn-link btn-floating  text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

            <a class="btn btn-link btn-floating  text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>
        </section>
    </div>
    <div class="text-center text-dark p-3 fw-bold" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: Dita Mukane
    </div>

</footer>