<div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class=" mt-5">
        <h2 class="text-center mb-3">About Us</h2>
        <p>Benvenuto al <b>Ristaurante Il Gambero Rosso</b> personal dreams for a place of hospitality where our friends, old and new, can come to enjoy a truly special evening. Whether you join us for a simple meal or a multi-course culinary tour of our
            offerings, your comfort and dining pleasures are the reasons we are here. <br> To realize this dream, we have assembled a highly skilled kitchen and dining room staff to serve your every need. We strive to create an atmosphere in the restaurant
            itself that is both elegant and relaxed. <br> Our menu reflects our European heritage and training. In addition to continental classics, we offer our original Eurospa cuisine in answer to a growing preference among our guests for lighter fare.
            <br> Whether you choose to indulge your palate with traditional offerings, with our exclusive Eurospa selections or honor us with the personal selection of your meal, you will always be a guest in our home. <br> It is a privilege to have you
            with us.</p>

    </div>
    <div class=" mt-5">
        <h5 class=" mb-3">We are Restaurant based in Padova Province, in North of Italy</h5>
        <img src="assets/images/padua.jpg" style="width: 100%;" alt="Prato della valle in evening light">
        <img src="assets/images/paduaMap.png" style="width: 100%;" class="card-img-top " alt="Map of Padova Province">
    </div>
    <div class=" my-5">
        <h2 class="text-center mb-3">Our Team</h2>
        <div class="card-group text-center">
            <div class="card">
                <img src="assets/images/chef.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Simona Leone</h5>
                    <p class="card-text">CHEF-OWNER</p>

                </div>
            </div>
            <div class="card">
                <img src="assets/images/operator.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alessandro Leone</h5>
                    <p class="card-text">OWNER-OPERATER</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/team.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Team</h5>
                </div>
            </div>
        </div>
    </div>

</div>