<nav class="navbar navbar-expand-lg navbar-light bg-light px-4 ">
    <div class="container-fluid">
        <a class="navbar-brand" id="logo" routerLink="/"><img src="assets/images/shrimpLogo.png" width="50" class="d-inline-block align-text-topalt="></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand " id="home" routerLink="/">Home</a>

            <a class="navbar-brand " id="aboutUs" routerLink="/about-us">About Us</a>
            <a class="navbar-brand " id="menu" routerLink="/menu">Menu</a>

        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i></button>
    </div>
</nav>