<!-- <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/{{val.image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{val.name}}</h5>
                    <p class="card-text">{{val.price}} €</p>

                </div>
            </div>
        </div>
    </div> -->
<div class="container mt-5 shadow p-3 mb-5 bg-body-tertiary rounded">
    <h1 class="text-center">Order List</h1>
    <table class="table">
        <div *ngFor="let val of cart">
            <tbody style="column-width: 20rem;">
                <tr>
                    <td><img src="assets/images/{{val.image}}" class="img-fluid rounded-start" style="width:10rem ;" alt="{{val.name}}"></td>
                    <td class="pe-5 ps-3 fw-bold th-lg-9">{{val.name}}</td>
                    <td class="ps-5">{{val.price}} €</td>
                    <td class="flex-nowrap ps-5"><button type="button" (click)="minus()"><i class="fa fa-minus"></i></button><input class="w-25" type="text" [value]="quantity"><button type="button" (click)="plus()"><i class="fa fa-plus"></i></button></td>
                </tr>
            </tbody>
        </div>
    </table>
    <div>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div>
                <h1 class="text-center">Order Form</h1>
                <p>Please fill up the info for the delivery</p>
            </div>
            <div class="mb-3">
                <label class="w-25" for="name">Name</label><br>
                <input class="w-100" id="name" type="text" formControlName="name">
            </div>
            <div>
                <label class="w-25" for="address">Address</label><br>
                <input class="w-100" id="address" type="text" formControlName="address">
            </div>
            <button class="btn my-4" type="submit">Purchase</button>
        </form>
    </div>
</div>