<!-- <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/{{val.image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{val.name}}</h5>
                    <p class="card-text">{{val.price}} €</p>

                </div>
            </div>
        </div>
    </div> -->
<div class="container">
    <table class="table">
        <div *ngFor="let val of cart">
            <tbody style="column-width: 20rem;">
                <tr>
                    <td><img src="assets/images/{{val.image}}" class="img-fluid rounded-start" style="width:10rem ;" alt="{{val.name}}"></td>
                    <td class="pe-5 ps-3 fw-bold th-lg-9">{{val.name}}</td>
                    <td class="ps-5">{{val.price}} €</td>
                </tr>
            </tbody>
        </div>
    </table>
</div>