<app-hero></app-hero>
<div class="container mt-5 shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class=" d-flex justify-content-center align-items-center flex-column">
        <h1 class="text-center " style="margin-top: 1rem; margin-bottom: 1.5rem;">Ristaurante Il Gambero Rosso</h1>
        <div class="card bg-body-tertiary mb-3 border-0">
            <div class="row g-0">
                <div class="col-md-4 ">
                    <img src="assets/images/restaurant2.jpg" class="img-fluid rounded-start" style="width: 100%" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Authentic Italian Cuisine</h5>
                        <h6 class="card-subtitle mb-2 ">The Real Taste of Italy</h6>
                        <p class="card-text">We have been serving delicious Italian food for generations, lovingly crafted by family members from recipes passed down from their parents and grandparents.<br>The sunny country of Italy is known for its hospitality, and we strive
                            to bring that same sense of warmth to our restaurant. Our staff will make you feel right at home as soon as you walk in the door.Our menu features traditional Italian dishes made with fresh, locally sourced ingredients, ensuring
                            that each dish is bursting with flavor. We guarantee that you'll leave with a full stomach and a smile on your face! <br> </p>

                    </div>
                </div>
            </div>
        </div>



        <div class="w-100 text-center ">
            <h1> Why Choose us</h1>
            <p>Welcome to Restorante Il Gambero Rosso, where you’ll enjoy traditional Italian cuisine served in a warm and welcoming atmosphere.</p>
        </div>
        <div class=" container ">
            <div class="row ">
                <div class="col ">
                    <h5>The Real Taste of Italy</h5>
                    <p>Our restaurant offers the best of Italian cooking, from the freshest ingredients to the most delicious recipes. Our chefs prepare each dish with care, ensuring that every bite is full of flavor.</p>
                </div>
                <div class="col order-5 ">
                    <h5>Something for Everyone</h5>
                    <p>We have a variety of dishes to suit all tastes and preferences. Our menu features everything from classic Italian-style pizzas and pastas, to our signature seafood dishes.</p>
                </div>
                <div class="col order-1 ">
                    <h5>Special Occasions Catered For</h5>
                    <p>We also cater for special occasions such as birthdays, anniversaries and engagements. We can help create a tailored meal that will make your event extra special.</p>
                </div>
            </div>
        </div>
        <div class="text-center ">
            <h1> Check our specials</h1>
            <p>We have a variety of daily specials and seasonal dishes, made from local ingredients that capture the essence of Italian cuisine. Our offerings include vegan and vegetarian options for all tastes..</p>
        </div>
        <div class="row">
            <div class="col-3 ">
                <!-- Tab navs -->
                <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-link1-tab" data-mdb-toggle="pill" href="#v-pills-link1" role="tab" aria-controls="v-pills-link1" aria-selected="true">Spicy Arrabbiata</a>
                    <a class="nav-link" id="v-pills-link2-tab" data-mdb-toggle="pill" href="#v-pills-link2" role="tab" aria-controls="v-pills-link2" aria-selected="false">Lasagna</a>
                    <a class="nav-link" id="v-pills-link3-tab" data-mdb-toggle="pill" href="#v-pills-link3" role="tab" aria-controls="v-pills-link3" aria-selected="false">Margherita</a>
                    <a class="nav-link" id="v-pills-link4-tab" data-mdb-toggle="pill" href="#v-pills-link4" role="tab" aria-controls="v-pills-link4" aria-selected="false">Baked Rigatoni</a>
                </div>
                <!-- Tab navs -->
            </div>

            <div class="col-9">
                <!-- Tab content -->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-link1" role="tabpanel" aria-labelledby="v-pills-link1-tab">
                        <div class="pillText"> Spicy Italian sausage, pepperoni, caramelized red onions, Gorgonzola, mozzarella, provolone & our authentic pizza sauce</div>

                        <div> <b>Price: 12.50 €</b> </div>
                        <img class="w-50" src="assets/images/arrabbiata.jpg" alt="">
                    </div>
                    <div class="tab-pane fade" id="v-pills-link2" role="tabpanel" aria-labelledby="v-pills-link2-tab">
                        <div> Towering layers of meat sauce, ricotta, mozzarella, provolone & Parmesan</div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-link3" role="tabpanel" aria-labelledby="v-pills-link3-tab">
                        <div> Fresh mozzarella, fresh basil & our authentic pizza sauce</div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-link4" role="tabpanel" aria-labelledby="v-pills-link4-tab">
                        <div> Spicy Italian sausage & meat sauce tossed & topped with mozzarella, Parmesan & ricotta</div>

                    </div>
                </div>
                <!-- Tab content -->
            </div>
        </div>
    </div>
</div>